.sCard{ width: 100%; height: 100; color: white; border-radius: 15px; }
.num{width: 70%; height: 100%; float:left;}
.number{width: 100%; height: 60%; box-sizing: border-box;}
.number span{ margin: 0 auto; font-size: 25px;font-weight: bold;}
.label{width: 100%; height: 40%; box-sizing: border-box;}
.label span{ margin: 0 auto; font-size: 18px;}
.icon{width: 30%; height: 100%; float:left; padding-top: 20px; box-sizing: border-box;}
