.root{ width: 100%; height: 100%; padding: 30px;  margin: 0; border-radius: 10px; background-color: #b6afd8;}
.left{ width: 30%; height: 100%; margin:0; padding: 0; float: left;}
.left img{max-width: 270px; max-height: 260px;}
.middle{width: 40%;height: 100%; margin:0; padding: 0; float: left; ; color: white;} 
.middle p{margin: 0; font-size: 25px; margin-top: 60px; margin-left: 15px; color: black;}
.middle span{margin: 0; font-size: 10px;}
.right{width: 30%; height: 100%; margin-top: 30px; padding: 0; float: left;}